.jumbotron
{

    background-image:url(images/hos_banner.jpeg);
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    color:black;

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.place.center
{

    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.bold_red
{
    font-size: medium;
    color:darkgreen;
    font-weight: bold;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}